

<div class="container">
  <% @movies.each do |movie|%>
    <%= link_to movie_path(movie) do %>
      <div class="card">
        <div class="card_image">
          <%= image_tag movie.get_image %>
        </div>
        <div class="card_content">
          <div class="card_title">
            <%= movie.title %>
          </div>
          <div class="card_detail">
            <div>
              <p>
                <%= movie.body %>
              </p>
              <div class="movie-rate">
                <div id="star-rate-<%= movie.id %>"></div>
                <script>
                $('#star-rate-<%= movie.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('water-off.png') %>',
                  starOn : '<%= asset_path('water-on.png') %>',
                  starHalf: '<%= asset_path('water-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= movie.rate %>,
                });
                </script>
              </div>
              <div class="rate">
                <%= movie.rate %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  <% end %>
  <%= link_to new_movie_path do%>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>
-------------------------------------------------------------------------------------------------------------------------------------------------------ここから
<div class="container">
  <p class="btn btn-success btn-sm">今月の感情</p>
  <div class="content-box">
    <% @comments.comment_month.each do|comment|%>
      <div class="dropdown">
        <div class="icon dropbtn">
          <% if comment.kao == "happy"%>
            <i class="far fa-laugh-beam fa-2x" style="color:orange;"></i>
          <%elsif comment.kao == "anger"%>
            <i class="far fa-angry fa-2x" style="color:red;"></i>
          <%elsif comment.kao == "sad"%>
            <i class="far fa-tired fa-2x" style="color:skyblue;"></i>
          <%elsif comment.kao == "mujyou"%>
            <i class="far fa-meh fa-2x" style="color:gray;"></i>
          <%elsif comment.kao == "important"%>
            <i class="fas fa-exclamation-circle fa-2x"></i>
          <%end%>
          
        </div>
        <div class="dropdown-content">
          <%= link_to movie_path(comment.movie) do%>
            <p class= "btn btn-sm btn-info ">
              <%= I18n.l(comment.movie.created_at, format: :default)%>
              の投稿へ
            </p>
            <!--<%= I18n.l(comment.created_at, format: :default)%>-->
            <br>
            <p class="m-0">コメント内容:</p>
            <%= comment.content %>
          <%end %>
        </div>
      </div>
    <%end %>
  </div>

  <%= month_calendar events: @comments do |date, comments| %>
    <%= date.day %>
    <br>
    <% comments.each do |comment| %>
      <%# ここは部分テンプレート %>
      <% if comment.kao == "happy"%>
        <i class="far fa-laugh-beam fa-2x" style="color:orange;"></i>
      <%elsif comment.kao == "anger"%>
        <i class="far fa-angry fa-2x" style="color:red;"></i>
      <%elsif comment.kao == "sad"%>
        <i class="far fa-tired fa-2x" style="color:skyblue;"></i>
      <%elsif comment.kao == "mujyou"%>
        <i class="far fa-meh fa-2x" style="color:gray;"></i>
      <%end%>
    <% end %>
  <% end %>
</div>

<%= link_to "PDF", movies_path(format: :pdf), class: "link" %>


<section class="FAB">
  <div class="FAB__mini-action-button">
    <%= link_to new_movie_path do%>
      <div class="mini-action-button--hide mini-action-button">
        <i class="mini-action-button__icon fa-solid fa-heart-pulse"></i>
        <p class="mini-action-button__text--hide">Add バイタル</p>
      </div>
    <% end %>
    <div class="mini-action-button--hide mini-action-button">
      <i class="mini-action-button__icon fa-solid fa-book-open"></i>
      <p class="mini-action-button__text--hide">Add メモ</p>
    </div>
    <div class="mini-action-button--hide mini-action-button">
      <i class="mini-action-button__icon fa-solid fa-briefcase-medical"></i>
      <p class="mini-action-button__text--hide">Add 既往歴</p>
    </div>
    <div class="mini-action-button--hide mini-action-button">
      <i class="mini-action-button__icon fa-solid fa-user"></i>
      <p class="mini-action-button__text--hide">プロフィール</p>
    </div>
  </div>
  <div class="FAB__action-button">
    <i class="action-button__icon fa-solid fa-plus"></i>
    <p class="action-button__text--hide">新規登録一覧</p>
  </div>
</section>

<script>
  var x = $('.FAB__mini-action-button').find('.mini-action-button--hide').length * 60 + 60;

  $('.FAB').hover(function(){
    $('.FAB').height(x);
  }, function(){
    $('.mini-action-button--show').attr('class', 'mini-action-button--hide');
    $('.FAB').height(0);
  });

  $('.mini-action-button').hover(function(){
    $(this).find('.mini-action-button__text--hide').attr('class', 'mini-action-button__text--show');
  }, function(){
    $(this).find('.mini-action-button__text--show').attr('class', 'mini-action-button__text--hide');
  });

  $('.FAB__action-button').hover(function(){
    $(this).find('.action-button__text--hide').attr('class', 'action-button__text--show');
    $('.mini-action-button--hide').attr('class', 'mini-action-button--show');
  }, function(){
    $(this).find('.action-button__text--show').attr('class', 'action-button__text--hide');
  });
</script>