<div class="container">
  <% @movies.each do |movie|%>
    <%= link_to movie_path(movie) do %>
      <div class="card">
        <div class="card_image">
          <%= image_tag movie.get_image %>
        </div>
        <div class="card_content">
          <div class="card_title">
            <%= movie.title %>
          </div>
          <div class="card_detail">
            <div>
              <p>
                <%= movie.body %>
              </p>
              <div class="movie-rate">
                <div id="star-rate-<%= movie.id %>"></div>
                <script>
                $('#star-rate-<%= movie.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('water-off.png') %>',
                  starOn : '<%= asset_path('water-on.png') %>',
                  starHalf: '<%= asset_path('water-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= movie.rate %>,
                });
                </script>
              </div>
              <div class="rate">
                <%= movie.rate %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  <% end %>
  <%= link_to new_movie_path do%>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>