<div class="container">
  <% @movies.each do |movie|%>
    <%= link_to movie_path(movie) do %>
      <div class="card">
        <div class="card_image">
          <%= image_tag movie.get_image %>
        </div>
        <div class="card_content">
          <div class="card_title">
            <%= movie.title %>
          </div>
          <div class="card_detail">
            <div>
              <p>
                <%= movie.body %>
              </p>
              <div class="movie-rate">
                <div id="star-rate-<%= movie.id %>"></div>
                <script>
                $('#star-rate-<%= movie.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('water-off.png') %>',
                  starOn : '<%= asset_path('water-on.png') %>',
                  starHalf: '<%= asset_path('water-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= movie.rate %>,
                });
                </script>
              </div>
              <div class="rate">
                <%= movie.rate %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  <% end %>
  <%= link_to new_movie_path do%>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>
-------------------------------------------------------------------------------------------------------------------------------------------------------ここから
<div class="container">
  <div class="content-box">
    <% @comments.each do|comment|%>
      <div class="dropdown">
        <div class="icon dropbtn">
          <% if comment.kao == "happy"%>
            <i class="far fa-laugh-beam fa-2x" style="color:orange;"></i>
          <%elsif comment.kao == "anger"%>
            <i class="far fa-angry fa-2x" style="color:red;"></i>
          <%elsif comment.kao == "sad"%>
            <i class="far fa-tired fa-2x" style="color:skyblue;"></i>
          <%elsif comment.kao == "mujyou"%>
            <i class="far fa-meh fa-2x" style="color:gray;"></i>
          <%end%>
        </div>
        <div class="dropdown-content">
          <%= link_to movie_path(comment.movie) do%>
            <p class= "btn btn-sm btn-info ">
              <%= I18n.l(comment.movie.created_at, format: :default)%>
              の投稿へ
            </p>
            <!--<%= I18n.l(comment.created_at, format: :default)%>-->
            <br>
            <p class="m-0">コメント内容:</p>
            <%= comment.content %>
          <%end %>
        </div>
      </div>
    <%end %>
  </div>

  <%= month_calendar events: @comments do |date, comments| %>
    <%= date.day %>
    <br>
    <% comments.each do |comment| %>
      <%# ここは部分テンプレート %>
      <% if comment.kao == "happy"%>
        <i class="far fa-laugh-beam fa-2x" style="color:orange;"></i>
      <%elsif comment.kao == "anger"%>
        <i class="far fa-angry fa-2x" style="color:red;"></i>
      <%elsif comment.kao == "sad"%>
        <i class="far fa-tired fa-2x" style="color:skyblue;"></i>
      <%elsif comment.kao == "mujyou"%>
        <i class="far fa-meh fa-2x" style="color:gray;"></i>
      <%end%>
    <% end %>
  <% end %>
</div>